:root {
    --Linear-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)); /*  active input border */
    --Red: hsl(0, 100%, 66%); /* input errors */

    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);

    --font-size: 1.125rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

html, body {
    height: 100%;
}

.page {
    display: flex;
    gap: 15rem;
}

/* LEFT COLUMN STYLING */

.cards-wrapper {
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40%;
    position: relative;
}

.cards {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.card-front {
    transform: translate(-20%);
    position: relative;
}

.card-logo {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.card-content {
    position: absolute;
    bottom: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--White);
    width: 100%;
}

#card-number {
    font-size: 1.9rem;
    letter-spacing: 3px;
}

.card-flex {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card-back {
    position: relative;
}

#card-cvc-number {
    position: absolute;
    bottom: 47%;
    right: 3.5rem;
    color: var(--White);
}


/* RIGHT COLUMN STYLING */


.inputs-wrapper {
    background-color: var(--White);
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 2rem;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    text-transform: uppercase;
    color: var(--Very-dark-violet);
    font-size: 0.8rem;
    letter-spacing: 3px;
    font-weight: 700;
}

input {
    padding: 0.7rem 1rem;
    border: 1px solid var(--Light-grayish-violet);
    border-radius: 0.5rem;
    cursor: pointer;
    color: var(--Very-dark-violet);
    font-size: 1rem;
}

input:focus {
    outline: 1px solid hsl(249, 99%, 64%);
}

input::placeholder {
    color: var(--Light-grayish-violet);
    font-size: 1rem;
}

.invalid {
    border-color: var(--Red);
}

.flex {
    flex-direction: row;
}

.exp-date {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
}

.exp-date input {
    width: 50%;
}

.two-inputs {
    display: flex;
    gap: 0.5rem;
}

.cvc-nr {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5rem;
}

button {
    background-color: var(--Very-dark-violet);
    color: var(--White);
    padding: 0.5rem 0;
    font-size: var(--font-size);
    border-radius: 0.5rem;
    cursor: pointer;
}

.error {
    color: var(--Red);
    font-size: 0.8rem;
    font-weight: 700;
}


/* THANK YOU CARD STYLING */

#thank-you {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.thank-you img {
    width: 55px;
}

h1 {
    color: var(--Very-dark-violet);
}

p {
    color: var(--Dark-grayish-violet);
}

#continue {
    margin-top: 1rem;
    width: 100%;
}